@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

section{
    --base-button-color: #35aef4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAVBAR */
.navbar{
    display: flex;
    position: relative;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10% 8px 7%;
    font-family: 'Monserrat', sans-serif;
    z-index: 2;
}

.logo{
    display: flex;
}

.navbar ul li{
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0 12px;

}

.navbar ul li a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar li a:hover{
    color: #177efd;
}


/* SECTION BANNER */
.banner{
    display: flex;
    position: relative;
    background-image: linear-gradient(to bottom right, #8b878737, #343434c5), url(Resourses/AF_Banner.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-attachment: fixed;
    /* z-index: 3; */
}

.content-banner{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding: 4% 0;

    font-family: 'Montserrat', sans-serif;
}

.title-banner{
    position: relative;
    color: #1888ff;
    /* #227bff #2989ff*/
    text-shadow: 0px 15px 5px rgba(58, 58, 58, 0.418),
                 10px 20px 5px rgba(0, 0, 0, 0.223),
                 -10px 20px 5px rgba(0, 0, 0, 0.145);

    font-size: 98px;
    font-weight: 800;
    text-transform: uppercase;
}

.text-banner{
    position: relative;
    color: #fbfbfb;
    font-size: 26px;
    font-weight: 500;
    margin: 12px;
    text-transform: uppercase;
    text-shadow: 0px 15px 5px rgba(47, 47, 47, 0.405),
                 10px 20px 5px rgba(0, 0, 0, 0.181),
                 -10px 20px 5px rgba(0, 0, 0, 0.103);
}

.star-banner{
    position: relative;
    display: flex;
    flex-direction: row;
}
.star{
    margin: 0 2px;
}


/* SECTION HOME */
.home{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.image-home{
    display: flex;
    height: 400px;
    width: 400px;
}

.image-home img{
    max-height: 100%;
    max-width: 100%;
}

.content-home{
    display: block;
    position: relative;
    width: 620px;

    font-size: 16px;
    line-height: 28px;
    font-family: "Nunito Sans";
    color: #787878;
}

.title-home{
    color:#1d1d1d;
    font-size: 34px;
    line-height: 48px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.partnumber-home{
    margin-top: 12px;
}

.description-home{
    margin-top: 20px;
}

.specification-home{
    margin-top: 16px;
}

.price-home{
    margin-top: 66px;
    margin-bottom: 40px;
    color: #1d1d1d;
    font-size: 36px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}

.button-home{
    display: block;
    position: relative;
    height: 55px;
    width: 180px;
    background-color: #35aef4;
    border-radius: 5px;
    color: #ffffff;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.button-home:hover{
    border: solid 2px #35aef4;
    background-color: #ffffff;
    color: #0093e8;
}


/* SECTION RELATION PARTS */
.content-relationparts{
    position: relative;    
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.title-relationparts{
    display: block;
    position:relative;

    color: #1b1b1b;
    font-size: 26px;
    letter-spacing: 0.4px;
    line-height: 60px; 
    font-weight: 600;
    text-align: center;
    padding-bottom: 1.5%;
}

.cards-relationparts{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card-relationparts{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: auto;
}

.part-image{
    display: flex;
    position: relative;
    align-items: center;
    height: 400px;
    width: 400px;
}

.part-image img{
    max-width: 100%;
    max-height: 100%;
}

.card-relationparts hr{
    display: flex;
    height: 1px;
    border: 0;
    /* border-top: 1.5px solid #acdaff; */
    margin: 1em 0;
    padding: 0;
    width: 100%;
    background-image:linear-gradient(to right, #ffffff00, #8ac6ffe7, #ffffff00);
}

.card-relationparts p{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.button-relationparts{
    display: block;
    position: relative;
    height: 55px;
    width: 200px;
    /* background-color: #10c9c3; */
    background-color: #35aef4;

    border-radius: 5px;
    color: #ffffff;
    margin-top: 15px;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
}

.button-relationparts:hover{
    border: solid 2px #35aef4;
    background-color: #ffffff;
    color: #0093e8;
}

/* /////////////////////// */
.terms_conditions{
    position: relative;    
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5.5%;
}

.terms_conditions-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-terms_conditions{
    display: block;
    width: 79%;
    margin-top: 20px;
}

.line{
    border: 0;
    height: 1.5px;
    background-image: 
    linear-gradient(to right, #4f6c8800, #177efd42, #4f6c8800);
    margin-top: 10px;
}


/* SECTION SHIPPING */
.title-payment{
    display: block;
    position:relative;
    color: #1b1b1b;
    font-size: 26px;
    letter-spacing: 0.4px;
    line-height: 60px; 
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.text-payment-block{
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-payment{ 
    position: relative;
    color: #787878;

    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
    font-family: "Nunito Sans";
}

.icons-block-payment{
    display: flex;
    justify-content:center;
    position: relative;
    margin-top: 25px;
}

.icon-payment{
    display: flex;
    position: relative;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    filter: drop-shadow(4.0px 8.0px 8.0px hsla(0, 0%, 27%, 0.38));
}

.icon-payment img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}


/* SECTION RETURN */
.return{
    position: relative;    
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
}

.return-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-return{
    display: block;
    width: 79%;
}

.title-return{
    display: block;
    position:relative;
    color: #1b1b1b;
    font-size: 26px;
    letter-spacing: 0.4px;
    line-height: 60px; 
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.text-return-block{
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-return{ 
    position: relative;
    color: #787878;

    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
    font-family: "Nunito Sans";
}


/* SECTION CONTACT INFO */
.contactInfo{
    position: relative;    
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
    padding-top: 70px;
}

.contactInfo-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-contactInfo{
    display: block;
    position: relative;
    width: 79%;
}

.title-contactInfo{
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #191919;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.text-contactInfo{
    position: relative;
    color: #787878;

    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
    font-family: "Nunito Sans";
}

.button-contactInfo{
    display: block;
    position: relative;
    height: 55px;
    width: auto;
    background-color: #35aef4;

    border-radius: 5px;
    color: #ffffff;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}

.button-contactInfo:hover{
    border: solid 2px #35aef4;
    background-color: #ffffff;
    color: #0093e8;
}
 

/* FOOTER */
.contact{
    width: 100%;
    height: auto;
    position: relative;
    background-color:black;
    font-family: "Montserrat";
}

.content-contact{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;   
    padding: 4% 0;
}

.title-contact{
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 24px;
}

.contact-theme{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-weight: 400;
    font-family: "Nunito Sans";
}
