@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAVBAR */
.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10% 8px 7%;
    font-family: 'Monserrat', sans-serif;
    z-index: 2;
}

.logo{  
    display: flex;
    cursor: pointer; 
}


.navbar ul li{
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0 12px;
    
}

.navbar ul li a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar li a:hover{
    color: #10c9c3;
}


/* SECTION BANNER */
.banner{
    display: flex;
    position: relative;
    height: 580px;
    /* background-image: url(Resourses/AF_Photo_11.jpg); */
    background-image: linear-gradient(to bottom right, #828282, #727272a8), url(Resourses/AF_Header.jpg);
    /* background-image: linear-gradient(to bottom right, #CCFFAA, #1E5B53), url(Resourses/AF_Photo_11.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
}

/* .banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 103, 103, 0.678);
} */

.content-banner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
}

.title-banner{
    position: relative;
    color: #f0f0f0;
    text-shadow: 0px 15px 5px rgba(47, 47, 47, 0.301),
                 10px 20px 5px rgba(0, 0, 0, 0.181),
                 -10px 20px 5px rgba(0, 0, 0, 0.103);

    font-size: 96px;
    font-weight: 800;
    text-transform: uppercase;
}

.text-banner{
    position: relative;
    color: #eaeaea;
    font-size: 22px;
    font-weight: 500;
    margin: 12px;
    text-transform: uppercase;
}


/* SECTION HOME */
.home{
    display: flex; 
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;
    font-family: 'Montserrat', sans-serif;
}

.image-home{
    display: block;
    height: 400px;
    width: 400px;
}

.image-home img{
    max-height: 100%;
    max-width: 100%;
}

.content-home{
    display: block;
    position: relative;
    width: 620px;
    /* top: 230px;
    float: right;
    right: 10%; */
}

.title-home{
    color:#1d1d1d;
    font-size: 38px;
    line-height: 48px;
    font-weight: 500;
}

.description-home{
    margin-top:  40px;
    margin-bottom: 56px;
    color: #787878;

    font-size: 18px;
    line-height: 28px;
    font-family: "Nunito Sans";
}

.price-home{
    margin-bottom: 36px;
    color: #1d1d1d;
    font-size: 36px;
    font-weight:bold;
}

.button-home{
    display: block;
    position: relative;
    height: 55px;
    width: 180px;
    background-color: #10c9c3;
    border-radius: 2%;
    color: #ffffff;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
}

.button-home:hover{
   opacity: 0.7;
}


/* SECTION RELATION PARTS */
.content-relationparts{
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.title-relationparts{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #191919;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}


.cards-relationparts{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.card-relationparts{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: auto;
}

.part-image{
    display: flex;
    position: relative;
    align-items: center;
    height: 400px;
    width: 400px;
}

.part-image img{
    max-width: 100%;
    max-height: 100%;
}


.card-relationparts hr {
    display: flex;
    height: 1px;
    border: 0;
    border-top: 1.5px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */
}

.card-relationparts p{
    font-weight: 500;
    font-size: 16px;
}

.button-relationparts{

    display: block;
    position: relative;
    height: 55px;
    width: 180px;
    background-color: #10c9c3;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 15px;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
}


/* SECTION ABOUT */
.about
{
    position: relative;
    height: 420px;
    width: 100%;
    background-color: #4fa3e76b;
    font-family: "Montserrat";
}

.content-about
{
    position: relative;
    width: 830px;
    text-align: center;
    margin: auto;

}

.title-about
{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #191919;
    font-weight: 500;
}
.text-about
{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top:  21px;
    margin-bottom: 36px;
    color: #787878;
    font-weight: 400;
    font-family: "Nunito Sans";
}


/* SECTION PAYMENT */
.payment
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #79c5ff24;
    font-family: 'Montserrat', sans-serif;
    padding-left: 116px;
    
}

.content-payment
{
    position: relative;
    width: 72%;

}

.title-payment{

    font-size: 30px;
    letter-spacing: 0px;
    line-height:20px;
    color: #191919;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 48px;
}

.text-payment
{
    display: block;
    position: relative;
    color: #787878;

    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
    font-family: "Nunito Sans";
}

.icons-block-payment{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: 50px;
}


.icon-payment{
    display: flex;
    position: relative;
    justify-content: center;
    width: 128px;
    height: 48px;
    align-items: center;
    justify-content: center;

    background-color: #ffffff99;
    border-radius: 0.3rem;
    box-shadow: rgba(100, 100, 111, 0.329) 0px 7px 29px 0px;
}
